<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Simple Product CRUD Application</title>
<link rel="stylesheet" type="text/css"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
/>
</head>
<body>

	<div class="container">
		<h2>Product Operation</h2>
		<a href="/products" class="btn btn-primary btn-sm">View all products</a>
	</div>
</body>
</html>